/* header {
    background-color: lightblue;
    color:aquamarine;
} */
 /* 전체 요소 모두 선택 */
*{
    /* background-color: beige; */
    margin:0cap;
    padding:0cap;

}

h2{
    color: blue;
}

/* 클래스 selecotr: .사용*/
.c2 {
    background-color: beige;
}
.c1 {
    background-color: skyblue;
}
/* id selector :  #사용, 아이디가 클래스 우선, 우선순위: tag < class < id  */
#d1 {
    background-color: lightpink;
}

#d1 > h2 {
    color: greenyellow;
}

/* header > ul > li{
    color:aqua
} */

/* 자손관계 selector */
header li {
    color:red;
    list-style: none;
    margin: 5px;
}
img {
    border-radius: 50%;
}
/* 속성 selector,그룹화 */
img[alt=html],[alt=css] {
    width: 100px;
    height: 100px;  
}

/* img[alt]{
    width:100px;
    height: 100px;
} */

a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding:5px

}
/* 마우스가 올라가면 , 가상클래스 seletor*/
a:hover{
    color:white;
    background-color: cadetblue;
}

/* 박스모델 */

article{
    border: 10px dashed red;
    /* 바깥여백, 4개의 값 제공 방향*/
    margin: 10px 20px 30px 40px;
    /* 안쪽여백 */
    padding: 20px;
}

div, ul {
    border: 2px solid green;
    margin: 10px;
    padding: 30px;
    display: flex;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 300px;
}

@media screen and (min-width: 1024px){
    body {
        background-color: aquamarine;
    }
    header{
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 300px){
  
    header{
        display: flex;
        flex-direction: column;
    }
}